.site-builder-meta__control {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.site-builder-meta__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
