.trial-editor__action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: flex-start;
}
.trial-editor__blockbar {
  background-color: var(--color-surface);
  border-radius: 4px;
  padding: 10px;
}
