.elements-site__content-root {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.elements-site__content-root--align-left {
  justify-items: flex-start;
}
.elements-site__content-root--align-center {
  justify-items: center;
}
.elements-site__content-root--align-right {
  justify-items: flex-end;
}
.elements-site__content-root__type-selection {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

// .elements-site__content-root--padding-small.elements-site__content-root--position-left,
// .elements-site__content-root--padding-small.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-small.elements-site__content-root--position-bottom-left {
//   padding-left: 10px;
// }
// .elements-site__content-root--padding-small.elements-site__content-root--position-right,
// .elements-site__content-root--padding-small.elements-site__content-root--position-top-right,
// .elements-site__content-root--padding-small.elements-site__content-root--position-bottom-right {
//   padding-right: 10px;
// }
// .elements-site__content-root--padding-small.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-small.elements-site__content-root--position-top-center,
// .elements-site__content-root--padding-small.elements-site__content-root--position-top-right {
//   padding-top: 10px;
// }
// .elements-site__content-root--padding-small.elements-site__content-root--position-bottom-left,
// .elements-site__content-root--padding-small.elements-site__content-root--position-bottom-center,
// .elements-site__content-root--padding-small.elements-site__content-root--position-bottom-right {
//   padding-bottom: 10px;
// }

// .elements-site__content-root--padding-medium.elements-site__content-root--position-left,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-bottom-left {
//   padding-left: 20px;
// }
// .elements-site__content-root--padding-medium.elements-site__content-root--position-right,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-top-right,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-bottom-right {
//   padding-right: 20px;
// }
// .elements-site__content-root--padding-medium.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-top-center,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-top-right {
//   padding-top: 20px;
// }
// .elements-site__content-root--padding-medium.elements-site__content-root--position-bottom-left,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-bottom-center,
// .elements-site__content-root--padding-medium.elements-site__content-root--position-bottom-right {
//   padding-bottom: 20px;
// }

// .elements-site__content-root--padding-large.elements-site__content-root--position-left,
// .elements-site__content-root--padding-large.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-large.elements-site__content-root--position-bottom-left {
//   padding-left: 30px;
// }
// .elements-site__content-root--padding-large.elements-site__content-root--position-right,
// .elements-site__content-root--padding-large.elements-site__content-root--position-top-right,
// .elements-site__content-root--padding-large.elements-site__content-root--position-bottom-right {
//   padding-right: 30px;
// }
// .elements-site__content-root--padding-large.elements-site__content-root--position-top-left,
// .elements-site__content-root--padding-large.elements-site__content-root--position-top-center,
// .elements-site__content-root--padding-large.elements-site__content-root--position-top-right {
//   padding-top: 30px;
// }
// .elements-site__content-root--padding-large.elements-site__content-root--position-bottom-left,
// .elements-site__content-root--padding-large.elements-site__content-root--position-bottom-center,
// .elements-site__content-root--padding-large.elements-site__content-root--position-bottom-right {
//   padding-bottom: 30px;
// }

.elements-site__content-root--padding-xsmall {
  padding: 20px;
}
.elements-site__content-root--padding-small {
  padding: 40px;
}
.elements-site__content-root--padding-medium {
  padding: 60px;
}
.elements-site__content-root--padding-large {
  padding: 80px;
}
.elements-site__content-root--padding-xlarge {
  padding: 100px;
}
