.elements-site__image-container {
  display: flex;
  justify-content: center;
}
.elements-site__image-container--align-left {
  justify-content: flex-start;
}
.elements-site__image-container--align-right {
  justify-content: flex-end;
}
.elements-site__image-container__img {
  width: 100%;
  object-fit: cover;
}

.elements-site__image-container--height-xsmall {
  height: 100px;
}
.elements-site__image-container--height-small {
  height: 200px;
}
.elements-site__image-container--height-medium {
  height: 300px;
}
.elements-site__image-container--height-large {
  height: 400px;
}
.elements-site__image-container--height-xlarge {
  height: 500px;
}
