.elements-site__overlap-section {
  width: 80%;
  margin: auto;
  margin-top: -100px;
}
.elements-site__overlap-section--width-small {
  width: 60%;
}
.elements-site__overlap-section--width-medium {
  width: 70%;
}
.elements-site__overlap-section--width-large {
  width: 80%;
}

.elements-site__overlap-section--offset-small {
  margin-top: -50px;
}
.elements-site__overlap-section--offset-medium {
  margin-top: -100px;
}
.elements-site__overlap-section--offset-large {
  margin-top: -150px;
}

.elements-site__overlap-section--background-section-height-small {
  margin-bottom: -30px;
}
.elements-site__overlap-section--background-section-height-medium {
  margin-bottom: -60px;
}
.elements-site__overlap-section--background-section-height-large {
  margin-bottom: -90px;
}
.elements-site__overlap-section--background-section-height-auto {
  margin-bottom: 0px;
}
