@import './SplitSection.scss';
@import './ImageContainer.scss';
@import './Background.scss';
@import './ContentRoot.scss';
@import './Action.scss';
@import './CommonEditor.scss';
@import './ContentFrameGroup.scss';
@import './ContentFrame.scss';
@import './ContentContainer.scss';
@import './Content.scss';

* {
  --element-site-viewbox: 960px;
  @media (max-width: 768px) {
    --element-site-viewbox: 540px;
  }
}

.elements-site-viewbox {
  width: 100%;
  max-width: var(--element-site-viewbox);
}
