.background-view__action {
  position: absolute;
  top: 10px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
}

.background-view__action--left {
  left: 10px;
}
.background-view__action--right {
  right: 10px;
}
