.tag-link {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.tag-article-section-action {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 20px;
  .see-other-tags {
    .material-icons {
      transform: scaleX(-1);
    }
  }
}
