.tag-link {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.tag-article-section-action {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 20px;
  .see-other-tags {
    .material-icons {
      transform: scaleX(-1);
    }
  }
}

.tag-article-section__more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}
